
# DO NOT REMOVE THIS LINE AND THE LINES BELLOW SSL_REDIRECT:vovkulaka-club.com
RewriteEngine on
RewriteCond %{HTTPS} off
RewriteCond %{HTTP_HOST} (www\.)?vovkulaka-club.com
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
# DO NOT REMOVE THIS LINE AND THE LINES BELLOW SSL_REDIRECT:vovkulaka-club.com
